body {
    background-color: black;
    color: white;
    font-size: 30px;
}

.button {
    background-color: rgb(65, 63, 63);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    margin-right: 5px;
}

.operator-button {
    background-color: orange;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    height: 60px;
    width: 60px;
}